<h1>New Type of Business</h1>
<% if @type.errors.any? %>
  <% @type.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_for @type do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
