<h1><%= @type.name%></h1>

<% if @type.businesses.any? %>
  <h4>Businesses of this type:</h4>

  <ul>
    <% @type.businesses.each do |business| %>
      <li>
        <%= business.name %> |
        <%= link_to "Edit business", edit_type_business_path(@type, business) %> |
        <%= link_to "Delete business", type_business_path(@type, business),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no businesses yet!</p>
<% end %>

<%= link_to "Add a Business", new_type_business_path(@type)%>
<br>
<%= link_to "edit type", edit_type_path(@type)%>
<br>
<%= link_to "delete type", type_path(@type),
                      :data => { :confirm => "you sure????",
                      :method => "delete"} %>

<hr>

<%= link_to "home", types_path%>
