<!DOCTYPE html>
<html>
  <head>
    <title>Wikipages</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default'%>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
    <button type="button" class="btn btn-success">test</button>
  </body>
</html>
